
.header {
    height: 50px;
    flex: 1 1 auto;
}

.example-spacer {
    flex: 5 5 auto;
  }

button{
    flex: 0 1 auto;

    margin: 0 15px;
    border-radius: 30px;
    

}
.home {

    font-family: "El Messiri";
}
.cadastro{
    flex: 0 1 auto;
}
.login{
    flex: 0 1 auto;
}