
.header {
    height: 50px;
}

.example-spacer {
    flex: 5 5 auto;
  }

button{
    font-size: 15px;
    margin: 0 15px;
    border-radius: 30px;
    

}
.home {
    font-size: 20px;
    font-family: "El Messiri";
}
.login{
    background-color: #9faac5;
}
