<div class="carousel-container">
    <button mat-icon-button class="carousel-button" (click)="moveCarousel('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  
    <div class="carousel">
      <button mat-raised-button class="carousel-item" (click)="centerButton('0')">Button 1</button>
      <button mat-raised-button class="carousel-item" (click)="centerButton('1')">Button 2</button>
      <button mat-raised-button class="carousel-item" (click)="centerButton('2')">Button 3</button>
      <button mat-raised-button class="carousel-item" (click)="centerButton('3')">Button 4</button>
      <button mat-raised-button class="carousel-item" (click)="centerButton('4')">Button 5</button>
      <button mat-raised-button class="carousel-item" (click)="centerButton('5')">Button 6</button>
    </div>
  
    <button mat-icon-button class="carousel-button" (click)="moveCarousel('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div >
    <div>
      <div class="title-page">
        <h1>O melhor do ARTNET</h1>
      </div>
      <div class = "subtitle">
        <h3>Artes em destaque hoje</h3>
    </div>
</div>
