<div class="carousel-container">
    <button mat-icon-button class="carousel-button" (click)="moveCarousel('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  
    <div class="carousel">
      <button mat-raised-button class="carousel-item">Button 1</button>
      <button mat-raised-button class="carousel-item">Button 2</button>
      <button mat-raised-button class="carousel-item">Button 3</button>
      <button mat-raised-button class="carousel-item">Button 4</button>
      <button mat-raised-button class="carousel-item">Button 5</button>
      <button mat-raised-button class="carousel-item">Button 6</button>
    </div>
  
    <button mat-icon-button class="carousel-button" (click)="moveCarousel('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>