<div class="cadastro-container">
    <div class="cadastro-box">
        <div class="top">
            <div class="close">
            <button mat-icon-button matSuffix color="primary" aria-label="close" (click)="goToHomePage()">
                <mat-icon>close</mat-icon>
            </button>
            </div>
            <div class="wk-text">
                <h2>ARTNET</h2>
                <p>Crie sua conta</p>
                <div class = noAccont>Já tem uma conta? <button mat-button class = "entrar" (click)="goToLogin()">ENTRE</button></div>
                
            </div>
        </div>
        
      
      <form>
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Seus dados</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirme seu E-mail</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="senha" required>
                    <mat-error *ngIf="senha.invalid">{{getErrorMessage()}}</mat-error>
                    <button mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Tipo de Usuário</ng-template>
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select multiple>
                      <mat-option value="one">Artista</mat-option>
                      <mat-option value="two">Admirador</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <div id="divMostrar" [style.display]="divVisivel1 ? 'block' : 'none'">
                <mat-step [stepControl]="secondFormGroup" >
                    <form [formGroup]="secondFormGroup">
                      <ng-template matStepLabel>Tipo de Usuário</ng-template>
                      <mat-form-field appearance="outline">
                          <mat-label>Select</mat-label>
                          <mat-select multiple>
                            <mat-option value="one">Artista</mat-option>
                            <mat-option value="two">Admirador</mat-option>
                          </mat-select>
                        </mat-form-field>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
            </div>


            
            
          </mat-stepper>
          
      </form>
      
      
    </div>
  </div>