.cadastro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
    align-items: center;
    background: rgba(140, 162, 176, 0.60);/* Translucidez definida pelo último valor (0.5) */
    .close{
        display:flex;
        margin-left: 85%;
        
    }
    .cadastro-box{
        margin-top: 0%;
    }

}
  
  .cadastro-box {
    max-height: 80vh; /* Defina aqui a altura máxima desejada em relação à altura da tela */
    overflow-y: auto;
    
    justify-content: center;
    margin-top:0cap;
    .wk-text{
        color: #31394C;
        margin-top: -10%;
        text-align: center;
        font-family: El Messiri;
        h2{
            font-size: 30px;
            margin-bottom: 0%;
        }
        p{
            margin-top: 1%;
            font-size: 18px;
        }
    }
   
    width: 500px;
    height: 80%;
    @media (max-width: 500px) {
        width: 400px;
      }
    
    border-radius: 30px;
    background: #EFF0EB;
    
      
  }

form{
    height: 70%;
    mat-stepper{
        background-color: #EFF0EB;
        height: 70%;
        mat-form-field{
            height: 70%;
            margin-bottom: 0%;
            width: 350px;
            @media (max-width: 500px) {
                    width: 280px;
            }
        
    }
    
            
    }
    

    .entrar{


      width: 350px;
      height: 50px;
      border-radius: 10px;
      @media (max-width: 500px) {
          width: 250px;
        }
      color: #EFF0EB;
      text-align: center;
      font-family: El Messiri;
      font-size: 24px;
      
    }

    

}

.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .noAccont{
    margin-top: -10px;
    color: #c7ab58;
    text-align: center;
    font-size: 16px;
    font-family: El Messiri;
    font-weight: 400;
      .entrar{
        padding: -30px -10px;
        text-align: center;
        align-content: center;
        color: #c7ab58;
        font-family: El Messiri;
        font-weight: 600;
      }
  }