<div class="image-container">
    <img src="assets/imagens/cinza.jpg" alt="Descrição da imagem" class="workImage">
    <div class="user-profile">
      <img src="assets/imagens/perfil.jpg" alt="Foto do perfil do usuário">
      <span class="user-name">malart</span>
      <span class="example-spacer"></span>
      <button mat-icon-button color="primary" aria-label="Curtir">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Favoritar">
        <mat-icon>star</mat-icon>
      </button>
  </div>
</div>
